<div class="container pt-4">
<div class="row">
        <!-- Number of orders -->
<div class=" col-6 col-lg-3">
    <div class="card bg-info text-white text-center mb-3">
        <div class="card-body">
          <h5 class="card-title">Pending order</h5><hr>
        <a href="{% url 'order' %}" class="text-decoration-none text-white"><h1 class="card-text">{{pending_order}}</h1></a>  
        </div>
      </div>
</div>

<!-- totalorder -->
<div class="col-6 col-lg-3">
    <div class="card bg-info text-white text-center mb-3">
        <div class="card-body">
          <h5 class="card-title">Total Orders </h5><hr>
          <a href=" {% url 'order-his' %} " class="text-decoration-none text-white"><h1 class="card-text">{{no_order}}</h1></a>
        </div>
      </div>
</div>

<!-- Stock -->
<div class="col-6 col-lg-3">
    <div class="card bg-info text-white text-center mb-3">
        <div class="card-body">
          <h5 class="card-title">Stock</h5><hr>
          <a href="{% url 'stock' %}" class="text-decoration-none text-white"><h1 class="card-text ">{{stock}} </h1></a>
        </div>
      </div>
</div>

<!-- Products -->
<div class=" col-6 col-lg-3 ">
  <div class="card bg-info text-white text-center mb-3 disabled">
  <div class="card-body">
    <h5 class="card-title">Products</h5><hr>
    <a href=" {% url 'product' %} " class="text-decoration-none text-white"><h1 class="card-text">{{product}}</h1></a>
  </div>
</div>
</div>

</div>

</div>